<% provide(:title, "Home") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> rails demo-app | <%= yield(:title) %></title>
</head>
<body>
    <div class="content">Hello, this this the Home page</div>
</body>
</html>