<footer class="footer">
    <small>
        sample Rails app from <a href="https://railstutorial.org">Rails book</a>. created by Yoni A.
    </small>

    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
        </ul>
    </nav>
</footer>