<footer class="footer">
    <small>
        sample Rails app from <a href="https://railstutorial.org">Rails book</a>. created by Yoni A.
    </small>

    <nav>
        <ul>
            <li><%= link_to "About", '#' %></li>
            <li><%= link_to "Contact", '#' %></li>
        </ul>
    </nav>
</footer>